{% extends 'base.html.twig' %}

{% block title %}Albums: {{ artistName }}{% endblock %}

{% block body %}
    Artist ID: {{ artstId }}</br>
    Album Count: {{ artistAlbums|length }}

    {% if artistAlbums|length > 6 %}

    {% endif %}

    aritistname: {{ artistName }}

    {% for album in artistAlbums %}
     <div class="row">
         <div class="col-md-6">{{ album.artist.name }}</div>
         <div class="col-md-2">{{ album.year }}</div>
         <div class="col-md-4">{{ album.name }}</div>
     </div>
     {% endfor %}

{% endblock %}