{% extends 'base.html.twig' %}

{% block title %}Albums: {{ artistName }}{% endblock %}

{% block body %}
    {#
    Artist ID: {{ artstId }}</br>
    Album Count: {{ artistAlbums|length }}
            {{ YEP }}
#}
    {% if artistAlbums|length > 6 %}{% endif %}

    {#itistname: {{ artistName }}#}

    <h3>{{ artistName }}</h3>
    <div class="row">
    <div class="col-8">
    <table class="table table-bordered table-striped table-hover albums">
    {% for album in artistAlbums %}
        <tr class="albums"><td>
     <div class="row">
         <div class="col-md-2">{{ album.year }}</div>
         <div class="col-md-10">{{ album.name }}</div>
     </div>
        </td></td>
    {% endfor %}
    </table>
    </div>
    <div class="col-4>">
        my sst
    </div>

{% endblock %}