{% extends 'base.html.twig' %}

{% block title %}Albums: {{ artistName }}{% endblock %}


{% block menuCss %}
    {{ parent() }}

    #addalbum {visibility: visible}
{% endblock %}

{% block body %}
    {{ parent() }}

    {#
    Artist ID: {{ artstId }}</br>
    Album Count: {{ artistAlbums|length }}
            {{ YEP }}
    #}

    {% if artistAlbums|length > 6 %}{% endif %}

    {#itistname: {{ artistName }}#}

    <h3>artistName: {{ artistName }}</h3>
    <h3>artistId: {{ artistId }}</h3>
    <h3>album count: {{ artistAlbums|length }}</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6"><a class="btn btn-primary" href="{{ path('showAllArtists') }}"><-- Artists</a> </div>
        <div class="col-md-6"><a class="btn btn-primary" href="{{ path('artistAddAlbum', {artistId:artistId}) }}">Add Album --></a></div>
    </div>

    <div class="row border border-secondary">
    <div class="col-10 border border-warning">
    <table class="table table-bordered table-striped table-hover albums">
        <!--
        <thead>
            <tr>
                <th>
                    <div class="col-md-2">Year</div>
                </th>
                <th>
                    <div class="col-md-10">Album</div>
                </th>
            </tr>
        </thead>
        -->
        <tbody>
    {% for album in artistAlbums %}
        <tr class="albums">
            <td>
     <div class="row">
         <div class="col-md-2">{{ album.year }}</div>
         <div class="col-md-9"><a href="{{ path('albumSongs', {albumId:album.id, artistId:artistId}) }}">{{ album.name }}</a></div>
         {#<div class="col-md-1"><a class="btn btn-outline-danger" href="{{ path('removeSong', {songId:song.id}) }}">-</a></div>#}
         <div class="col-md-1"><a class="btn btn-outline-danger" href="#">-</a></div>

         {#
                     <td>{{ artist.id }}</td>
                     <td><a href="{{ path('artistAlbums', {'artistId':artist.id, 'artistName':artist.name}, relative =  false) }}">{{ artist.name }}</a></td>
         #}
    </div>
        </td></tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}