{% extends 'base.html.twig' %}

{% block title %}Songs: {{ albumName }}{% endblock %}

{% block body %}
    {{ parent() }}

    {#
    Artist ID: {{ artstId }}</br>
    Album Count: {{ artistAlbums|length }}
            {{ YEP }}
    #}

    {#itistname: {{ artistName }}#}

    <h3>{{ albumName }}</h3>
    <h3>album id {{ albumId }}</h3>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('artistAlbums', { 'artistId': artistId }) }}"><-- Albums</a>
        </div>
        <div class="col-md-6">
            <a class="" href="{{ path('albumAddSong', { 'albumId': albumId, 'artistId':artistId }) }}">Add Song --></a>
        </div>
    </div>
    <div class="row">
    <div class="col-10">
    <table class="table table-bordered table-striped table-hover albums">
        <!--
        <thead>
            <tr>
                <th>
                    <div class="col-md-2">Year</div>
                </th>
                <th>
                    <div class="col-md-10">Album</div>
                </th>
            </tr>
        </thead>
        -->
        <tbody>
    {% for song in albumSongs %}
        <tr class="albums">
            <td>
                <div class="row">
                    <div class="col-md-2">{{ song.number }}</div>
                    <div class="col-md-2">{{ song.id }}</div>
                    <div class="col-md-7">{{ song.name }}</div>
                    <div class="col-md-1"><a class="btn btn-outline-danger" href="{{ path('removeSong', {songId:song.id}) }}">-</a></div>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-2>">
        my sst
    </div>

{% endblock %}