{% extends 'bs-base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="text-center">
        <a href="{{ path('showAllArtists') }}">Artists</a>
    </div>

{#
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/GeneralController.php'|file_link(0) }}">src/Controller/GeneralController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/general/index.html.twig'|file_link(0) }}">templates/general/index.html.twig</a></code></li>
    </ul>
</div>
#}
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Home</a>
        <a href="{{ path('showAllArtists') }}">Artists</a>
        <a href="#">test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {#
        <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="about" href="#">About</a>        </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="portfolio"href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="blog" href="#">Blog</a>         </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="team" href="#">         Team</a>       </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="contact" href="#">Contact</a>       </li>
            </ul>
        </div>
        #}
    </nav>

    <nav id="topNav" class="container">
        <div><a href="{{ path('showAllArtists') }}">Artists</a></div>
        <div>Home</div>
        <div>Search</div>
        <div>Logout</div>
    </nav>

<div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Tutorial</a>

    <div class="navbar" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>BootStrap 4</h1>
            <p>This is some text</p>
            <a  href="#" class="btn btn-primary btn-lg">More...</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Heading 1</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a  href="#" class="btn btn-default btn-lg">More...</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Heading 2</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a  href="#" class="btn btn-default btn-lg">More...</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Heading 3</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a  href="#" class="btn btn-default btn-lg">More...</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
