<!OCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ app.request.get('_route') }}!{% endblock %}</title>

        {# before all other stylesheets #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        {#<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">#}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">#}


        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}


        {#<script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>#}

        <style>
            {% block menuCss %}

            #addartist {visibility: hidden}
            #addalbum {visibility: hidden}
            #addsong {visibility: hidden}

            {% endblock %}
        </style>

        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                var $current = "{{ app.request.get('_route') }}";
                if($current == 'addArtist') {
                    alert("current route: <"+$current+">");
                }

                //$(#addartist).addClass("disabledJQ");

                //alert("hellso");
                //$("#addalbum").css("visibility","hidden");
                //$("#addartist").addClass("active");
                //$("a").addClass("yellow");
                $("li.disabledJQ > a").click(function (evt) { //e alias for event object
                    var target = evt.target;

                    evt.preventDefault();
                    //var msq = e.attr("text");
                    //e.addClass("btn-inactive")
                    //alert("disabledJQ:");

                    //alert($(this).attr("href"));
                    //alert($(this).attr("class"));


                    //alert("disabled: " + $(this).text());
                    $("#test > a").css({"color":"red", "background-color":"black"});
                    //$(this).css({"color":"red", "background-color":"black"});
                });

                //$('nav a').attr("href", "#");
                //$('nav a').removeClass("btn-primary");
                //$('nav a').addClass("btn-danger");

                $('nav a').each(function () {
                    $(this).addClass("btn-active");
                })

                $(".test-btn").removeClass("btn-danger");
                $(".test-btn").text("<general>");
                $(".test-btn").attr("href", "{{ path('general') }}");

                //$("#test > a").css({"color":"red", "background-color":"black"});
            })
        </script>
        {% block menuJ %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ asset('css/mystyle.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block bootstrap %}{% endblock %}

        <main>
            {% block body %}
                <div class="container">
                <nav class="navbar navbar-expand-sm justify-content-center">
                    <ul class="navbar-nav">
                        {#<a class="nav-link" href="{{ path('general') }}">General</a>#}
                        <a class="navbar-brand" href="{{ path('showAllArtists') }}"><img src="{{ asset('images/spaceDog.png') }}" HEIGHT="40px" width="40px" alt="HOME"></a>
                        <li id="artists" class="nav-item">
                            <a class="nav-link btn btn-primary active" href="{{ path('showAllArtists') }}">Artists</a>
                        </li>
                        <li id="addArtist" class="nav-item">
                            <a class="nav-link btn btn-primary" href="{% block addartist %}{{ path('addArtist') }}{% endblock %}">Add Artist</a>
                        </li>
                        <li id="artistAddAlbum" class="nav-item">
                            {% if not artistId is defined %}
                                {% set artistId = 0 %}
                            {% endif %}
                            <a class="nav-link btn btn-primary" href="{% block addalbum %}{{ path('artistAddAlbum', {artistId:artistId}) }}{% endblock %}">Add Album</a>
                        </li>
                        <li id="albumAddSong" class="nav-item disabledJQ">
                            {#<a class="nav-link" href="{% block addsong %}{{ path('addSong') }}{% endblock %}">Add Song</a>#}
                            <a class="nav-link btn btn-primary" href="{{ path('showAllArtists') }}">Add Song</a>
                        </li>
                        <li id="general" class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ path('general') }}">[GENERAL]</a>
                        </li>
                        <li id="test" class="nav-item">
                            <a class="nav-link btn btn-primary test-btn" href="#">test</a>
                        </li>
                    </ul>
                </nav>
                </div>
            {% endblock %}
        </main>
        {% block javascripts %}

            {# must be at the end of <body> tag #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
